
*.log
*.tmp
*.temp
*.bak
*.swp
*.swo
*.DS_Store
*.orig


__pycache__/
*.py[cod]
*.env
*.venv
env/
venv/
.Python
.mypy_cache/
.pytest_cache/
coverage.*
htmlcov/
.tox/
.cache/
.pyre/

instance/
logs/
ssl/
temp_uploads/
tmp/
*.db
*.sqlite3


frontend/node_modules/
build/
dist/
*.tsbuildinfo
*.map
.vite/
public/manifest.json
public/robots.txt
postcss.config.js

tests/
src/tests/
*.test.js
*.test.jsx
*.spec.js
*.spec.jsx
test_*.py
conftest.py

.env
.env.*
secrets.json
config.py
package-lock.json

.vscode/
.idea/
*.code-workspace

